.title-how{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    color: #449AE2;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.text-about{
    margin-top: 5px;
}

.text-space{
  margin-bottom: 0.2em;
}