@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.logo-css {
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.logo-container {
    text-align: center;
    display: block;
}

.title-page-login{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #449AE2;
    display: block;
    margin-bottom: 10px;
    font-size: 30px;
}

.spinner {
    align-items: center;
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
}

.text-login {
    color: #449AE2;
    font-size: 14px;
    opacity: 1;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

.title-text-subcard {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: #449AE2;
}

.home-subcard {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #449AE2;
    padding: 20px;
    width: 100%;
    border-radius: 4px;
    opacity: 1;
    cursor:  pointer;
    margin-top: 10px;
}
